<html>
<head>
  <meta http-equiv="Content-type" content="text/html;
  charset=utf-8" />
  <title>CD management</title>
  <!-- <%= stylesheet_link_tag 'global' %> -->
  <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" title="no title" charset="utf-8" />
</head>

<body>
  <div id="container">
    <div id="header">
      <h1>My CD album archive</h1>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>

